.btn {
	display: inline-block;
	text-align: center;
	cursor: pointer;
	text-decoration: none;
	line-height: inherit;
	-webkit-tap-highlight-color: transparent;
	font-size: $btn-font-size;
	font-weight: $btn-font-weight;
	color: $btn-color;
	background: $btn-bg;
	padding: $btn-padding;
	border: $btn-border;
	@if $btn-border-radius != 0 {
		border-radius: $btn-border-radius;
	}
	text-transform: uppercase;
	-moz-transition: background .15s;
	-webkit-transition: background .15s;
	transition: background .15s;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;

	&:hover {
		background: $btn-hover-bg;
		color: $btn-hover-color;
	}

	&:focus { background: $btn-focus-bg; }

	&:active { background: $btn-active-bg; }

	&::-moz-focus-inner { border: none; }
}