#site-header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99999999;
	width: 100%;
	height: 70px;
	background-color: rgba(#000,0.85);
	color: #fff;
}

#site-title {
	position: relative;
	z-index: 3;
	margin: 18px 0 0;
	width: 140px;

	a {
		display: block;
		height: 37px;
		text-indent: -999em;
		background: transparent url('../img/logo-mdm.png') no-repeat center;
		background-size: 140px 37px;

		@media #{$query-retina} {
			background-image: url('../img/logo-mdm@2x.png');
		}
	}
}

#site-nav {
	position: absolute;
	bottom: 6px;
	left: 0;
	width: 100%;
}

.nav {
	float: right;
	margin: 22px 0 0;	
}

.nav-item {
	display: block;
	float: left;
	margin-bottom: 0;
}

.current-nav-indicator {
	position: absolute;
	top: 20px;
	display: block;
	height: 4px;
	background-color: #a7aa4b;
	opacity: 0;
	transition: all 0.3s;
}

.nav-link {
	display: block;
	padding: 1em;
	color: #ccc;
	color: rgba(#fff,0.8);
	text-decoration: none;
	transition: color 0.15s;

	&:hover {
		color: #fff;
	}
}

.nav-item.current .nav-link {
	color: #fff;
}