.slider {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	font-size: 10px;
}

.slides {
	@extend .reduced;
	margin-bottom: 0;
}

.slide {
	margin-bottom: 0;

	&:not(:first-child) {
		display: none;
	}
}

.slide-1 {

	.slide-content {

		q {
			font-size: 4.68em;
		}
	}
}

.slide-3 {

	.slide-content {

		q {
			font-size: 7.35em;
		}
	}
}

.slide-inner {
	position: relative;
	height: 669px;
	overflow: hidden;
}

.slide-image {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	max-width: none;
	height: 100%;
}

.slide-content {
	position: absolute;
	top: 70px;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	line-height: 1.4;
	
	q {
		display: block;
		font-weight: 100;
		margin-bottom: 40px;
		font-size: 6.35em;
		line-height: 1.2;

		&:before {
			content: '\201C';
			margin-left: -0.45em;
		}

		&:after {
			content: '\201D';
			margin-right: -0.45em;
		}
	}

	.source {
		display: block;
		font-size: 1.8em;
		font-weight: 700;
	}

	.source-title {
		font-size: 1.4em;
	}
}

.progress-bar {
	position: absolute;
	top: 70px;
	left: 0;
	z-index: 9;
	width: 100%;
	background: rgba(217,219,168,.5);

	div {
		height: 4px;
		width: 0;
		background: #d9dba8;
	}
}