@font-face {
	font-family: 'Novecento Wide';
	src: url('../fonts/Novecentowide-Light.eot');
	src: url('../fonts/Novecentowide-Light.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Novecentowide-Light.woff') format('woff'),
		 url('../fonts/Novecentowide-Light.ttf') format('truetype'),
		 url('../fonts/Novecentowide-Light.svg#80f3a7fa68780569af58fcfa5561c79f') format('svg');
	font-style: normal;
	font-weight: 100;
}

@font-face {
	font-family: 'Novecento Wide';
	src: url('../fonts/Novecentowide-Book.eot');
	src: url('../fonts/Novecentowide-Book.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Novecentowide-Book.woff') format('woff'),
		 url('../fonts/Novecentowide-Book.ttf') format('truetype'),
		 url('../fonts/Novecentowide-Book.svg#59d5d4e8049b4ab832376f797b2f9ab7') format('svg');
	font-style: normal;
	font-weight: 200;
}

@font-face {
	font-family: 'Novecento Wide';
	src: url('../fonts/Novecentowide-Normal.eot');
	src: url('../fonts/Novecentowide-Normal.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Novecentowide-Normal.woff') format('woff'),
		 url('../fonts/Novecentowide-Normal.ttf') format('truetype'),
		 url('../fonts/Novecentowide-Normal.svg#4800520214fda50f153cf1091d5e3657') format('svg');
	font-style:  normal;
	font-weight: 300;
}

@font-face {
	font-family: 'Novecento Wide';
	src: url('../fonts/Novecentowide-Medium.eot');
	src: url('../fonts/Novecentowide-Medium.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Novecentowide-Medium.woff') format('woff'),
		 url('../fonts/Novecentowide-Medium.ttf') format('truetype'),
		 url('../fonts/Novecentowide-Medium.svg#5f9b8783cc4520a201de22d83f26dcf8') format('svg');
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'Novecento Wide';
	src: url('../fonts/Novecentowide-DemiBold.eot');
	src: url('../fonts/Novecentowide-DemiBold.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Novecentowide-DemiBold.woff') format('woff'),
		 url('../fonts/Novecentowide-DemiBold.ttf') format('truetype'),
		 url('../fonts/Novecentowide-DemiBold.svg#8f0001eb233a0285c2bfb984e8161d5e') format('svg');
	font-style: normal;
	font-weight: 500;
}

@font-face {
	font-family: 'Novecento Wide';
	src: url('../fonts/Novecentowide-Bold.eot');
	src: url('../fonts/Novecentowide-Bold.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Novecentowide-Bold.woff') format('woff'),
		 url('../fonts/Novecentowide-Bold.ttf') format('truetype'),
		 url('../fonts/Novecentowide-Bold.svg#fcad973783aee7d2d36dd8df78ee20e8') format('svg');
	font-style: normal;
	font-weight: 600;
}