.featured-projects-slider {
	margin-bottom: 3em;

	.close {
		top: 0;
		right: 10px;
	}

	.flex-direction-nav {
		@extend .reduced;
		position: absolute;
		right: 60px;
		top: 0;
		z-index: 99;
		width: 104px;

		li {
			margin-bottom: 0;
		}

		a {
			float: left;
			display: block;
			background: #fff;
			margin-right: 2px;
			color: #aaa;
			text-decoration: none;
			width: 50px;
			line-height: 50px;
			font-size: 30px;
			font-weight: 100;
			text-align: center;
			cursor: pointer;
			transition: background 300ms;

			&:hover {
				background: #d7d7d7;
				color: #aaa;
			}
		}
	}
}

.project-header {
	margin-bottom: 0.75em;

	.list-inline {
		color: $brand-primary;
		margin: 0.25em 0 0 -1em;
		padding-right: 160px;
		font-size: 12px;
		font-weight: 200;
		line-height: 1.2;
		height: 2.25em;

		li {
			padding-left: 1em;

			&:after {
				content: '/';
				position: relative;
				left: 0.6em;
				color: $color-base;
			}

			&:last-child:after {
				content: none;
			}
		}
	}
}

.project-title {
	font-size: $font-size-h1;
	margin-bottom: 0;
}

.project-description {
	text-align: justify;
	font-size: 12px;
	font-weight: 200;
}

.project-image-slider {
	position: relative;
	min-height: 100px;

	img {
		display: block;
	}

	.flex-direction-nav {
		top: 50%;
		right: auto;
		left: 0;
		opacity: 0;
		width: 100%;
		margin: -40px 0 0;
		transition: opacity 300ms;

		a {
			margin-right: 0;
			background-color: #000;
			background-color: rgba(#000,0.8);
			color: #eee;
			width: 40px;
			line-height: 80px;
			border-radius: 0 40px 40px 0;
			padding: 0 6px 0 0;

			&:hover {
				background-color: #000;
				color: #eee;
			}

			span {
				display: block;
				transform: scale(1.5,2) translateY(-2px);
			}
		}

		.flex-next {
			float: right;
			border-radius: 40px 0 0 40px;
			padding: 0 0 0 6px;
		}
	}

	&:hover {

		.flex-direction-nav {
			opacity: 1;
		}
	}
}

.featured-projects-nav {
	position: relative;
	z-index: 3;
	min-width: 0;
	margin: -3px auto;
	padding: 0 7px;

	li {
		float: left;
		margin: 3px;
	}

	a {
		position: relative;
		display: block;
		width: 210px;
		height: 210px;
		background-color: #d7d7d7;
		transition: background-color 300ms;

		&:hover,
		&.flex-active {
			background-color: #fff;
		}

		&.flex-active {

			img {
				filter: grayscale(0);
			}
		}

		img {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			margin: auto;
			filter: grayscale(100%);
			transition: filter 300ms;
		}
	}
}