// Colors
//
$brand-primary: #a7aa4b !default;
$brand-secondary: #5bc0de !default;
$brand-success: #090 !default;
$brand-warning: #f0ad4e !default;
$brand-danger: #c00 !default;


// Scaffolding
//
$body-bg: #000 !default;
$color-base: #464646 !default;

$link-color: $brand-primary !default;
$link-hover-color: darken($link-color, 15%) !default;

$query-retina: "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)" !default;


// Typography
//
$font-family-base: 'Novecento Wide', sans-serif !default;

$font-size-base: 10px !default;
$line-height-base: 1.8 !default;
$font-weight-base: 400 !default;

$font-size-h1: 30px !default;
$font-size-h2: 20px !default;
$font-size-h3: 16px !default;
$font-size-h4: 14px !default;
$font-size-h5: 12px !default;
$font-size-h6: 10px !default;

$headings-font-family: inherit !default;
$headings-line-height: 1.2 !default;
$headings-font-weight: 100 !default;
$headings-color: inherit !default;
$headings-margin: 0 0 0.25em;


// Buttons
//
$btn-font-weight: 100 !default;
$btn-font-size: 18px !default;
$btn-color: #fff !default;
$btn-hover-color: $btn-color !default;
$btn-bg: $color-base !default;
$btn-hover-bg: $brand-primary !default;
$btn-focus-bg: darken($btn-bg, 15%) !default;
$btn-active-bg: darken($btn-hover-bg, 15%) !default;
$btn-padding: .75em 2em !default;
$btn-border: none !default;
$btn-border-radius: 5px !default;


// Panels
//
$panel-bg: #d7d7d7 !default;